@tailwind base;
@tailwind components;
@tailwind utilities;

.source-sans-3-thin {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.source-sans-3-extralight {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.source-sans-3-light {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.source-sans-3-regular {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-sans-3-medium {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.source-sans-3-semibold {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.source-sans-3-bold {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.source-sans-3-extrabold {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.source-sans-3-black {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.raleway-thin {
  font-family: "Raleway", serif;
  font-weight: 100;
  font-style: normal;
}

.raleway-extralight {
  font-family: "Raleway", serif;
  font-weight: 200;
  font-style: normal;
}

.raleway-light {
  font-family: "Raleway", serif;
  font-weight: 300;
  font-style: normal;
}

.raleway-regular {
  font-family: "Raleway", serif;
  font-weight: 400;
  font-style: normal;
}

.raleway-medium {
  font-family: "Raleway", serif;
  font-weight: 500;
  font-style: normal;
}

.raleway-semibold {
  font-family: "Raleway", serif;
  font-weight: 600;
  font-style: normal;
}

.raleway-bold {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-style: normal;
}

.raleway-extrabold {
  font-family: "Raleway", serif;
  font-weight: 800;
  font-style: normal;
}

.raleway-black {
  font-family: "Raleway", serif;
  font-weight: 900;
  font-style: normal;
}

.raleway-thin-italic {
  font-family: "Raleway", serif;
  font-weight: 100;
  font-style: italic;
}

.raleway-extralight-italic {
  font-family: "Raleway", serif;
  font-weight: 200;
  font-style: italic;
}

.raleway-light-italic {
  font-family: "Raleway", serif;
  font-weight: 300;
  font-style: italic;
}

.raleway-regular-italic {
  font-family: "Raleway", serif;
  font-weight: 400;
  font-style: italic;
}

.raleway-medium-italic {
  font-family: "Raleway", serif;
  font-weight: 500;
  font-style: italic;
}

.raleway-semibold-italic {
  font-family: "Raleway", serif;
  font-weight: 600;
  font-style: italic;
}

.raleway-bold-italic {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-style: italic;
}

.raleway-extrabold-italic {
  font-family: "Raleway", serif;
  font-weight: 800;
  font-style: italic;
}

.raleway-black-italic {
  font-family: "Raleway", serif;
  font-weight: 900;
  font-style: italic;
}

.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: italic;
}

